In [114]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import requests
import time
import json
import scipy.stats as st

In [115]:
player_list = ['Michael Jordan', 'Kobe Bryant', 'Lebron James', 'Magic Johnson', 'Larry Bird', 'Bill Russell', 
               'Wilt Chamberlain', 'Kareem Abdul-Jabbar', "Shaquille O'Neal", 'Stephen Curry' ]

In [116]:
#define the cleaning functions

#this function takes the 1 row career stats df from the csv and prepares it for merging
def career_cleaner(df, name):
    df = df.reset_index(drop = True)
    df = df.rename(index = {0 : name})
    df = df.transpose()
    df.index.name = "Stats"
    return df

In [117]:
#import data sets and save the career stats line in each players' df
jordan_career = pd.read_csv(r"csv_files/jordan_career.csv")
jordan_career = jordan_career.iloc[[-4], ]

kobe_career = pd.read_csv(r"csv_files/kobe_career.csv")
kobe_career = kobe_career.iloc[[-1], ]

lebron_career = pd.read_csv(r"csv_files/lebron_career.csv")
lebron_career = lebron_career.iloc[[-5], ]

magic_career = pd.read_csv(r"csv_files/magic_career.csv")
magic_career = magic_career.iloc[[-1], ]

bird_career = pd.read_csv(r"csv_files/bird_career.csv")
bird_career = bird_career.iloc[[-1], ]

russell_career = pd.read_csv(r"csv_files/russell_career.csv")
russell_career = russell_career.iloc[[-1], ]
russell_career

,Season,Age,Tm,Lg,Pos,G,GS,MP,FG,FGA,FG%,FT,FTA,FT%,TRB,AST,PF,PTS
13,Career,NaN,NaN,NBA,NaN,963,NaN,42.3,5.9,13.4,0.44,3.3,5.8,0.561,22.5,4.3,2.7,15.1

In [118]:
#clean functions for merging
jordan_career = career_cleaner(jordan_career, "Jordan")
kobe_career = career_cleaner(kobe_career, "Kobe")
lebron_career = career_cleaner(lebron_career, "Lebron")
magic_career = career_cleaner(magic_career, "Magic")
bird_career = career_cleaner(bird_career, "Bird")
russell_career = career_cleaner(russell_career, "Russell")
russell_career

       Russell
Stats
Season  Career
Age        NaN
Tm         NaN
Lg         NBA
Pos        NaN
G          963
GS         NaN
MP        42.3
FG         5.9
FGA       13.4
FG%       0.44
FT         3.3
FTA        5.8
FT%      0.561
TRB       22.5
AST        4.3
PF         2.7
PTS       15.1

In [129]:
#merge all career data together
vert_df = jordan_career.merge(kobe_career, on = "Stats")
vert_df = vert_df.merge(lebron_career, on = "Stats")
vert_df = vert_df.merge(magic_career, on = "Stats")
vert_df = vert_df.merge(bird_career, on = "Stats")
vert_df = vert_df.merge(russell_career, on = "Stats", how = "outer")
vert_df

        Jordan    Kobe  Lebron   Magic    Bird Russell
Stats
Season  Career  Career  Career  Career  Career  Career
Age        NaN     NaN     NaN     NaN     NaN     NaN
Tm         NaN     NaN     NaN     NaN     NaN     NaN
Lg         NBA     NBA     NBA     NBA     NBA     NBA
Pos        NaN     NaN     NaN     NaN     NaN     NaN
G         1072    1346    1258     906     897     963
GS        1039    1198    1257     763     870     NaN
MP        38.3    36.1    38.4    36.7    38.4    42.3
FG        11.4     8.7     9.9     6.9     9.6     5.9
FGA       22.9    19.5    19.6    13.2    19.3    13.4
FG%      0.497   0.447   0.504    0.52   0.496    0.44
3P         0.5     1.4     1.5     0.4     0.7     NaN
3PA        1.7     4.1     4.3     1.2     1.9     NaN
3P%      0.327   0.329   0.344   0.303   0.376     NaN
2P        10.8     7.3     8.4     6.5     8.9     NaN
2PA       21.2    15.3    15.3      12    17.4     NaN
2P%       0.51   0.479   0.549   0.541   0.509     NaN
eFG%     0.509   0.482   0.542   0.533   0.514     NaN
FT         6.8     6.2     5.9     5.5     4.4     3.3
FTA        8.2     7.4       8     6.5       5     5.8
FT%      0.835   0.837   0.735   0.848   0.886   0.561
ORB        1.6     1.1     1.2     1.8       2     NaN
DRB        4.7     4.1     6.2     5.5       8     NaN
TRB        6.2     5.2     7.4     7.2      10    22.5
AST        5.3     4.7     7.4    11.2     6.3     4.3
STL        2.3     1.4     1.6     1.9     1.7     NaN
BLK        0.8     0.5     0.8     0.4     0.8     NaN
TOV        2.7       3     3.5     3.9     3.1     NaN
PF         2.6     2.5     1.8     2.3     2.5     2.7
PTS       30.1      25    27.1    19.5    24.3    15.1

In [132]:
#organize the df to have player names as indexes and stats as columns
vert_df = vert_df.transpose()

#delete unnecessary statistics
#players_df = vert_df.drop(["Tm", "Lg", "MP", "Age", "Pos", "FG", "FGA", "3P", "3PA", "2P", "2PA", "2P%", "eFG%", \
#                              "FT", "FTA", "ORB", "DRB", "TOV", "PF"], axis = 1)
vert_df
#players_df

Stats,Season,Age,Tm,Lg,Pos,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
Jordan,Career,NaN,NaN,NBA,NaN,1072,1039,38.3,11.4,22.9,...,0.835,1.6,4.7,6.2,5.3,2.3,0.8,2.7,2.6,30.1
Kobe,Career,NaN,NaN,NBA,NaN,1346,1198,36.1,8.7,19.5,...,0.837,1.1,4.1,5.2,4.7,1.4,0.5,3,2.5,25
Lebron,Career,NaN,NaN,NBA,NaN,1258,1257,38.4,9.9,19.6,...,0.735,1.2,6.2,7.4,7.4,1.6,0.8,3.5,1.8,27.1
Magic,Career,NaN,NaN,NBA,NaN,906,763,36.7,6.9,13.2,...,0.848,1.8,5.5,7.2,11.2,1.9,0.4,3.9,2.3,19.5
Bird,Career,NaN,NaN,NBA,NaN,897,870,38.4,9.6,19.3,...,0.886,2,8,10,6.3,1.7,0.8,3.1,2.5,24.3
Russell,Career,NaN,NaN,NBA,NaN,963,NaN,42.3,5.9,13.4,...,0.561,NaN,NaN,22.5,4.3,NaN,NaN,NaN,2.7,15.1

In [121]:
#Determine who has the most points per game

In [122]:
#Determine who has the most steals per game

In [123]:
#Determine who has the most blocks per game

In [124]:
#Determine who has the most assists per game

In [125]:
#Determine who has the most rebounds per game

In [126]:
#Determine who has the highest win percentage

In [127]:
#Determine who had the most MVP awards

In [128]:
#Determine who had the most championship wins